@model List<ProgrammingLanguage>
@Html.AntiForgeryToken()
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table table-bordered" style="width:100%;">
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Description
                </td>
                <td>
                    Actions
                </td>
            </tr>
        </thead>
        <tbody id="dashboard_table">
            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" onclick="removeItem(@item.Id)">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    function removeItem(itemId) {
        var confirmation = confirm("Are you sure you want to remove the item?");
        if (confirmation) {
            var params = { id: itemId };
            $.ajax({
                url: "@Url.Action("Remove")",
                method: "post",
                dataType: "json",
                data: params,
                success: function (response, status, jqXHR) {
                    if (response.success) {
                        alert("Success");
                    }
                }
            });
        }
    }
    var connection = new signalR.HubConnectionBuilder().withUrl("/dashboardHub").build();
    connection.start();
    connection.on("GetProgrammingLanguages", function (programmingLanguages) {
        var table = document.getElementById("dashboard_table");
        programmingLanguages.forEach(function (item, index, array) {
            let row = document.createElement("tr");
            row.id = "row_"+item.id;
            let td = document.createElement("td");
            td.textContent = item.name;
            row.appendChild(td);
            let td2 = document.createElement("td");
            td2.textContent = item.description;
            row.appendChild(td2);
            let td3 = document.createElement("td");
            let removeAction = document.createElement("button");
            removeAction.classList.add("btn");
            removeAction.classList.add("btn-sm");
            removeAction.classList.add("btn-danger");
            removeAction.textContent = "Remove";
            removeAction.onclick = function () { removeItem(item.id); };
            td3.appendChild(removeAction);
            row.appendChild(td3);
            table.appendChild(row);
        });
    });
    connection.on("RemoveProgrammingLanguage", function (programmingLanguageId) {
        var table = document.getElementById("dashboard_table");
        var row = document.getElementById("row_" + programmingLanguageId);
        if (row != undefined) {
            table.removeChild(row);
        }
    });
</script>
